#root {
  max-width: 100%;
  margin: 0 auto;
  background-image: url('./assets/bg.jpg');
  background-size: cover;
  background-position: center;
}

.principal-container {
  height: 100vh;
}

.background{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.39);
  width: 100%;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-background {
  background-color: #e5e5e5;
}

.bttn {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  transition: color 0.3s;
  font-size: 18px;
}

.bttn:hover {
  color: black;
}

.flota {
  width: 100%; /* Ocupa todo el ancho */
  height: 65vh; /* Ocupa el 70% de la altura del contenedor */
}

.horarios {
  width: 100%; /* Ocupa todo el ancho */
  height: 35vh; /* Ocupa el 30% de la altura del contenedor */
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.reviews-container {
  flex: 7;
  justify-content: center;
  align-items: center;
  padding-top: 30vh;
}

.third-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.map-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: flex-end; /* Alinear en la parte inferior */
  width: 100%;
  max-width: 800px; /* Ancho máximo */
  padding-bottom: 50vh;
}

@media (max-width: 768px) {
  .flota {
    height: 60vh;
  }
  .map-container {
    padding-bottom: 65vh;
  }

  .reviews-container {
    padding-top: 20vh;
    padding-bottom: 5vh;
  }
}
